<div class="wrapper">

    <nav class="main-nav">
        <div class="logo">
            <i class="fas fa-utensils fa-2x" onclick="window.location.href='/'"></i>
            <h6 class="logo-text" onclick="window.location.href='/'">Lorem Impsum</h6>
            <div class="login">
                <h6 class="login-text" onclick="window.location.href='/login'">Login</h6>
                <i class="far fa-user fa-lg"></i>
            </div>
            <div class="upload" onclick="window.location.href='/upload'">
                <h6 class="upload-text">Upload recipe</h6>
                <i class="fas fa-upload fa-lg"></i>
            </div>
        </div>
    </nav>

    <div class="top-content-container">
        <h1 class="website-name">Lorem Ipsum</h1>
        <p class="top-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur!</p>
    </div>

    <div class="landing-recipes-container">
        <img src="https://source.unsplash.com/random/400x400">
        <img src="https://source.unsplash.com/random/401x400">
        <img src="https://source.unsplash.com/random/402x400">
        <img src="https://source.unsplash.com/random/403x400">
        <img src="https://source.unsplash.com/random/404x400">
        <img src="https://source.unsplash.com/random/405x400">
        <img src="https://source.unsplash.com/random/406x400">
        <img src="https://source.unsplash.com/random/407x400">
    </div>

    <footer>
        <p>Lorem Impsum &copy; 2018</p>
    </footer>

</div>
