<div class="wrapper">

    <div class="valign-wrapper top-content-container z-depth-1">
        <h1 class="website-name">Lorem Ipsum</h1>

        <nav class="search">
          <div class="nav-wrapper white search-bar">
            <form>
              <div class="input-field">
                <input id="search" type="search" required>
                <label class="label-icon" for="search"><i class="material-icons grey-text text-darken-2">search</i></label>
                <i class="material-icons">close</i>
              </div>
            </form>
          </div>
        </nav>

        <p class="top-content-paragraph">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur!</p>
    </div>

    <div class="landing-recipes-container">
        <img src="https://source.unsplash.com/random/1080x1080" class="hoverable" onclick="window.location.href='/images/1'">
        <img src="https://source.unsplash.com/random/1081x1080" class="hoverable">
        <img src="https://source.unsplash.com/random/1082x1080" class="hoverable">
        <img src="https://source.unsplash.com/random/1083x1080" class="hoverable">
        <img src="https://source.unsplash.com/random/1084x1080" class="hoverable">
        <img src="https://source.unsplash.com/random/1085x1080" class="hoverable">
        <img src="https://source.unsplash.com/random/1086x1080" class="hoverable">
        <img src="https://source.unsplash.com/random/1087x1080" class="hoverable">
    </div>

</div>
