<div class="recipe-picture-container z-depth-1"></div>

<div class="recipe-container">
    <div class="recipe-name-container">
        <h1 class="recipe-name">Recipe Name
        <a class="red btn btn-large waves-effect waves-light">
            <!-- if this recipe is already favourited change that icon with -->
            <!-- <i class="material-icons">favorite</i> -->
            <i class="material-icons">favorite_border</i>
        </a>
        </h1>

        <div class="recipe-uploader-container valign-wrapper">
            <div class="image-cropper z-depth-1 waves-effect waves-light hoverable">
                <img src=<%= @user.image_url %> class="center-align" onclick="window.location.href='/users/1'">
            </div>
            <h3 class="center-align username">Username</h3>
        </div>

        <h5 class="valign-wrapper">
            <i class="material-icons medium">access_time</i>
            1 hr 25 mins
        </h5>

        <h5 class="valign-wrapper">
            <i class="material-icons medium">local_dining</i>
            Serves 6
        </h5>

    </div>

    <div class="recipe-description-container valign-wrapper">
        <p class="flow-text">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
            exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            Duis aute irure dolor in reprehenderit in voluptate velit esse cillum
            dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        </p>
    </div>

    <div class="recipe-ingredients-container valign-wrapper">
        <ul class="browser-default">
            <li>
                <p class="flow-text">1 tbsp olive oil</p>
            </li>
            <li>
                <p class="flow-text">4 rashers smoked streaky bacon, finely chopped</p>
            </li>
            <li>
                <p class="flow-text">1 tbsp olive oil</p>
            </li>
            <li>
                <p class="flow-text">4 rashers smoked streaky bacon, finely chopped</p>
            </li>
            <li>
                <p class="flow-text">1 tbsp olive oil</p>
            </li>
            <li>
                <p class="flow-text">4 rashers smoked streaky bacon, finely chopped</p>
            </li>
        </ul>

    </div>

    <div class="recipe-info-container valign-wrapper">
        <ol class="collapsible" data-collapsible="accordion">
         <li class="active">
            <div class="collapsible-header">Step</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
         </li>

         <li>
            <div class="collapsible-header">Step</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
         </li>

         <li>
            <div class="collapsible-header">Step</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
         </li>

         <li>
            <div class="collapsible-header">Step</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
         </li>

         <li>
            <div class="collapsible-header">Step</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
         </li>

         <li>
            <div class="collapsible-header">Step</div>
            <div class="collapsible-body"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p></div>
         </li>
     </ol>
    </div>

</div>

<script>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
