// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
:root {
    --primary: #ddd;
    --dark: #333;
    --light: #fff;
    --shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

html {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    color: var(--light);
}

body {
    background: var(--light);
    line-height: 1.4;
    margin: 0;
    overflow-x: hidden;
}

.wrapper {
    display: grid;
}

.top-content-container {
    background: url("https://source.unsplash.com/random/1920x1080");
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 31.2rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 3rem;
}

.website-name {
    text-transform: uppercase;
    text-align: center;
    font-size: 5.5rem;
    font-weight: 900;
    color: var(--light);
}

.top-content-paragraph {
    font-weight: normal;
    text-align: center;
    font-size: 1.5rem;
    color: var(--light);
}

.main-nav {
    background: var(--light);
    height: 4rem;
    width: 100%;
}

.logo {
    position: relative;
    display: flex;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-box-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.logo a {
    text-decoration: none;
}

.logo-text {
    color: var(--dark);
    font-size: 1.5rem;
    padding-left: 1rem;
    cursor: pointer;
}

.fa-utensils {
    padding-left: 1rem;
    position: relative;
    color: var(--dark);
    cursor: pointer;
}

.upload {
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    align-items: center;
    display: flex;
    flex: 1;
    background: #8bc34a;
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    height: 65%;
    width: 10.5rem;
    left: 88%;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.upload:hover {
    background: #7cb342;
}

.upload-text {
    color: var(--light);
    font-size: 1.2rem;
    padding-left: 0.5rem;
    font-weight: normal;
}

.fa-upload {
    padding-left: 0.5rem;
    position: relative;
    color: var(--light);
}

.login {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-box-align: center;
    -webkit-box-flex: 1;
    align-items: center;
    display: flex;
    flex: 1;
    border: 2px solid var(--dark);
    border-radius: 5px;
    position: absolute;
    cursor: pointer;
    height: 65%;
    width: 7rem;
    left: 79.5%;
    opacity: 0.4;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

.login:hover {
    opacity: 0.75;
}

.login-text {
    color: var(--dark);
    font-size: 1.2rem;
    padding-left: 1rem;
    font-weight: normal;
}

.fa-user {
    padding-left: 1rem;
    position: relative;
    color: var(--dark);
}

.landing-recipes-container {
    position: relative;
    min-height: 35rem;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    margin: 4rem;
}

.landing-recipes-container img {
    width: 100%;
    box-shadow: var(--shadow);
}

.brand-logo {
    margin-left: 1rem;
}

.text {
    font-size: 1.25rem;
}

.search {
    width: 50%;
    background: none;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

#search {
    border-radius: 10px;
}

.search-bar {
    border-radius: 10px;
}

nav.nav-center ul {
    text-align: center;
}

nav.nav-center ul li {
    display: inline;
    float: none;
}

nav.nav-center ul li a {
    display: inline-block;
}

footer {
    background: var(--dark);
    color: var(--light);
    text-align: center;
    margin: 0 4rem 1rem 4rem;
    padding: 1px;
}

@media (max-width: 600px) {
    .search {
        -webkit-transition: 0.5s;
        transition: 0.5s;
        width: 100%;
    }
}
